@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    //Typography
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
