<div class="flex-container">
    <section class="flex-item-header">
        <app-header></app-header>
    </section>
    <div class="sub-container">
        <section class="sub-item-left-ads">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, nemo provident sit aspernatur quod eaque nihil
            porro quas itaque a ullam eos voluptatem odit ipsam vero alias, quisquam excepturi sequi, reiciendis sed
            vitae? Ipsam, unde quasi eius enim aspernatur fugit totam magnam voluptates tempora! Quas, alias. Excepturi
            ipsam saepe quia recusandae laudantium beatae nihil commodi eaque? Nihil consectetur illo voluptatem ullam
            repellendus magnam recusandae molestiae quaerat nesciunt, delectus molestias eveniet necessitatibus voluptas
            maiores reprehenderit natus pariatur! Facere incidunt tenetur harum qui, libero unde mollitia
            necessitatibus! Veritatis earum a cum enim quis sit aut iste nulla id, adipisci ratione accusantium fuga
            itaque vitae nam aliquam quae velit beatae consequatur! Ad quidem consequuntur vitae iste molestiae
            accusantium dolorum esse nam illum dolore at fugiat quia possimus ipsa non illo culpa eos adipisci, quae
            dolor voluptate? Unde quod natus placeat reprehenderit totam veniam consequuntur hic laboriosam beatae
            recusandae id rem eum quae veritatis at, perspiciatis sunt, dolorem voluptas repellat, pariatur quisquam
            omnis sit ratione repudiandae. Accusantium, consequatur. Atque doloribus, debitis quidem dignissimos
            mollitia aliquid quod autem placeat, blanditiis alias totam nesciunt similique aut excepturi. Aut illo
            excepturi asperiores fugiat accusantium veritatis ullam veniam ratione nesciunt nostrum architecto vel fugit
            mollitia deserunt, voluptatibus magnam facilis vero. Tenetur voluptatem libero perferendis porro harum,
            maiores repudiandae possimus totam quibusdam, nemo necessitatibus natus sed debitis facilis, quos at
            distinctio architecto ab reiciendis similique error accusamus adipisci! Odio dolor facilis illo a
            dignissimos vel maxime ipsam? Optio esse repudiandae dolore quae molestiae assumenda ea id, excepturi natus
            eius, nihil non quod similique possimus error! Voluptatibus aut blanditiis officiis eum magni asperiores
            laudantium ea expedita quo ad vel, iusto illum error sequi rem ipsum sint quibusdam qui quam omnis at
            ratione, pariatur consequuntur! Dolore optio iusto aperiam consequatur, eos ut aspernatur distinctio eveniet
            suscipit reprehenderit itaque voluptas obcaecati facere non modi laborum quas possimus, cum necessitatibus
            soluta velit sed. Possimus, inventore laudantium? Ex obcaecati asperiores recusandae reiciendis, sapiente
            perspiciatis culpa modi, ea dolor molestiae et nam odio hic quasi, veniam tenetur. Laudantium molestiae
            dolor labore excepturi earum placeat necessitatibus? Inventore, at natus numquam fugiat esse dolorem sed
            voluptate cumque eum odio facere ducimus earum, iure tempore aut exercitationem enim facilis eligendi iusto
            repellendus veritatis tempora. Eligendi, nulla magnam. Eos voluptas excepturi error, suscipit fugit tenetur
            itaque facilis possimus. Fugiat veritatis dolorem reprehenderit quam soluta ipsam suscipit tenetur aut.
            Perferendis, beatae iste dolor deserunt quo eius tempora soluta maiores non. Voluptatem quos nemo explicabo
            quas, est omnis deleniti amet. Asperiores beatae, minus rerum suscipit iure accusamus itaque pariatur porro
            possimus ipsa eum quos officiis autem adipisci quaerat quasi vero eligendi. Enim nihil ratione fugiat magni.
            Placeat, et sit nesciunt commodi, dolore consequatur aperiam ad repudiandae sint vel, delectus nam modi.
            Quam sequi pariatur recusandae aspernatur tempore reiciendis explicabo accusantium, consectetur non officiis
            maxime necessitatibus inventore odio ratione culpa? Distinctio illo earum quis beatae, repellat officiis
            eos, ab velit animi ducimus dolorem esse nam in corrupti ipsa quae obcaecati. Quia ipsam nisi nobis enim
            facere perspiciatis cumque! Culpa delectus doloremque cumque, earum corrupti error ipsam deleniti. Quod a
            assumenda, impedit similique culpa vero dolorem facere perferendis temporibus aliquam ipsam provident fuga,
            earum dolorum repudiandae nisi repellat consectetur doloremque rem ut, nulla dolores numquam ducimus quas!
            Et soluta hic, aut unde, rerum enim incidunt molestias sunt, nulla maxime qui voluptas eius id commodi
            labore voluptatem culpa ab cumque? Earum a saepe fugiat laboriosam obcaecati illum odio? Fugit culpa
            adipisci saepe deserunt sapiente totam nam maiores, molestias quae dolore cum cupiditate deleniti dolorum
            odit ducimus vero. Consequatur qui possimus nesciunt quis odio saepe, quidem perspiciatis laudantium, modi
            autem temporibus, distinctio id mollitia ex itaque ut cumque molestiae quam eius maiores? Quasi perspiciatis
            non dignissimos optio nostrum laboriosam, vitae consequatur ipsa ut inventore odio omnis minima maiores,
            atque pariatur labore. Tempora non architecto at, amet odio similique eaque modi necessitatibus temporibus
            dolorem dignissimos autem eligendi officia consequuntur culpa maxime optio delectus vero, accusamus quis
            aperiam! Possimus impedit sed odit voluptates distinctio tempora nemo illum ea rerum omnis itaque
            consequatur sint facere nihil et, minima placeat rem blanditiis reprehenderit exercitationem voluptatum
            modi! Eius quas asperiores veritatis numquam ipsa, expedita perspiciatis aliquam velit sed iusto labore
            mollitia minima sapiente perferendis nemo praesentium doloremque, ab aut! Suscipit in nulla nisi, rem sit
            error odio dolore iste magnam, dicta dolor. Beatae repudiandae nihil unde consequuntur obcaecati, natus
            dignissimos odio delectus optio nam fuga sit! Impedit quae accusantium, temporibus ipsum nobis qui sed,
            nesciunt commodi natus ut officiis eius minus molestias fuga fugiat cumque dolores minima quod sequi error
            aliquid eveniet debitis numquam quos. Ipsum quisquam facere perferendis praesentium, tenetur sint quasi
            officiis alias, sed molestiae, voluptatem est! A laborum totam vero recusandae alias dignissimos adipisci
            illo? Atque excepturi non labore. Tempore sequi impedit aut laudantium totam pariatur doloremque et? Sed
            deleniti debitis fugit nostrum. Repellat sit, rerum facilis doloribus vero sequi, cumque magnam quasi,
            accusantium aut laudantium? Voluptatem maiores laudantium molestias perspiciatis excepturi minima ab tempora
            rem enim saepe. Voluptate qui aliquam modi sequi ullam maxime eaque earum harum nesciunt, autem, amet
            perferendis, assumenda cumque quae voluptatibus velit. Accusantium qui, illum quos eveniet minima laboriosam
            unde est quae natus quas fugiat, reprehenderit ipsam magni velit officiis mollitia architecto? Obcaecati ex
            nobis est iure distinctio fuga, debitis tempora nisi quae cum? Dolor dolores esse ea necessitatibus maxime,
            nesciunt odit cupiditate pariatur omnis molestiae ipsum eveniet? Soluta blanditiis cum, doloremque totam
            vel, placeat minus accusamus ad provident consectetur autem iusto omnis modi obcaecati vitae beatae amet,
            voluptatibus distinctio ipsa. Iste temporibus odio reprehenderit dolore. Reiciendis, ipsum? Repudiandae quam
            voluptatibus dolor veniam iste consequuntur architecto quos dignissimos, ullam nihil, consequatur dicta quod
            nemo velit quaerat corporis ab nam sit ipsam eligendi quasi. Hic odit ex accusantium unde autem deleniti,
            minus ratione perferendis nesciunt corrupti aperiam eaque! Fugiat et iure consequuntur assumenda debitis in
            dolor commodi corrupti, dolorem quaerat ipsam ex explicabo quo aut illum nulla odio inventore. Distinctio
            reiciendis voluptates quo ea totam, dolor amet commodi quia suscipit nemo. Non eligendi repudiandae quae sit
            vero dolor incidunt praesentium excepturi repellendus reprehenderit animi deleniti ratione, quod qui
            inventore temporibus rerum? Quisquam itaque natus rem perspiciatis rerum ipsum corrupti consequuntur, fuga
            repellendus ratione officiis id vel aliquam repellat, illo eos. Aliquid, nesciunt enim pariatur saepe
            necessitatibus harum minima cumque magnam ad quod, iusto et distinctio eaque libero ab culpa. Labore
            delectus saepe incidunt commodi pariatur non ratione tempore perferendis, aperiam repudiandae necessitatibus
            voluptatem distinctio. Fugiat qui temporibus ad nisi consequuntur autem, officia sit. Ea tenetur, animi
            temporibus suscipit non tempora error doloribus veniam magni itaque deleniti exercitationem, nisi amet modi
            atque. Tenetur nam doloribus officia nihil dolores dignissimos itaque illo molestias cupiditate, quasi
            dolorem. Magnam voluptatibus distinctio natus odio consequuntur tenetur eum voluptatem porro voluptatum
            laboriosam nihil culpa ducimus laborum illo non maiores, dolorum perferendis. Error rerum officia
            repudiandae fuga illum quis dolores tempora. Praesentium, sed reprehenderit autem suscipit repellat fugiat
            iste dicta commodi impedit quis quae id distinctio ab at laudantium possimus, ipsum repudiandae sequi, cum
            expedita nisi cumque. Dolore quos, suscipit sunt tenetur perferendis deleniti odio. Ab corrupti nulla nisi
            consequatur iure explicabo officiis est necessitatibus neque nihil deleniti praesentium quas natus, possimus
            delectus deserunt repudiandae obcaecati vitae, ipsa voluptas iste. Voluptatum quibusdam natus corporis
            inventore quasi incidunt voluptatibus amet dicta reiciendis alias, quidem aliquam doloribus molestiae
            consectetur harum labore error nobis et enim architecto, quisquam magni rerum animi. Dolores itaque neque
            corrupti quis aut iure architecto exercitationem nostrum facilis, sit provident est. Beatae iusto quisquam
            laudantium asperiores id dolorum nam provident, officia blanditiis in corporis consectetur reprehenderit
            libero? Labore, sunt, earum veniam incidunt maiores distinctio obcaecati consequuntur ex, cupiditate
            nesciunt deleniti beatae praesentium perspiciatis dolorem aliquid. Dicta voluptate velit quibusdam illum,
            eum rem est nam qui cum recusandae fugiat reiciendis officiis tenetur sunt, expedita excepturi ratione.
            Autem, alias consequuntur nesciunt quasi perferendis debitis doloremque nostrum libero voluptatem, eligendi
            fugit rerum ea, adipisci qui neque molestias nulla? Tenetur dolore quis laudantium animi ipsam, modi quam
            ducimus officiis dolores ratione sint itaque veritatis voluptas accusamus unde molestiae eveniet similique
            cumque deleniti nemo non officia! Architecto, repudiandae, est quam veniam hic natus praesentium nihil eos
            officiis recusandae nesciunt? Ab vitae expedita, rem voluptatibus ad dicta necessitatibus saepe magnam nulla
            nisi sunt magni ducimus ut illum, tempora iure vel, totam quo veniam sapiente vero numquam neque? At est
            autem temporibus dolorem reprehenderit. Officiis repudiandae quia reiciendis porro hic quo cupiditate animi
            deleniti optio ullam! Impedit explicabo ut, fuga possimus accusantium sequi veritatis esse ullam aperiam
            incidunt nam iusto maiores, nihil vitae voluptate dignissimos mollitia! Aliquid in ullam dolorum nobis
            accusamus nulla libero voluptate! Eveniet repellendus cupiditate, veniam nesciunt maiores illum blanditiis
            suscipit architecto ratione, odio consectetur deleniti eligendi nihil error quam, rerum eos minus ab
            doloribus? Vero fugit natus nobis commodi quam odio itaque suscipit delectus. Aut quibusdam architecto
            optio, perspiciatis officia aperiam porro et veritatis dolore esse. Repellat illo in alias nemo provident
            deleniti, facilis explicabo doloremque amet magni ipsa illum neque. Odit tenetur eveniet delectus tempore
            possimus sapiente, nisi esse at provident sit nulla quod consequuntur culpa dolorum rerum doloremque aut.
            Ipsa atque unde voluptatum aliquid praesentium alias quia minima dolorum placeat, quo blanditiis, maiores
            minus quam? Cupiditate ea non excepturi tempora placeat blanditiis cumque nostrum ipsa. Quam impedit quidem
            inventore quia minus aperiam nihil, illo, ea recusandae omnis laudantium. Dolore deleniti similique earum
            iste commodi et veritatis quam at dolores asperiores. Dolore quae, libero soluta illum quia temporibus et.
            Exercitationem natus dolor neque consequatur quis maiores laudantium. Corporis aperiam autem soluta quam
            possimus, sapiente sunt quod cumque distinctio, iusto ipsum quasi nulla sed reiciendis expedita. Sint,
            debitis esse. Temporibus doloremque voluptate, iure porro, quae consequuntur laborum perferendis facere unde
            saepe amet? Optio quisquam odit sequi quae atque, sit harum earum magni nesciunt debitis non eligendi.
            Optio, vel eius dolorum quia perspiciatis enim, nihil excepturi repellendus ipsa doloremque maxime atque
            minima odio ipsum sint hic. Suscipit repellendus quibusdam facere consectetur maxime modi delectus veritatis
            dolorem aliquam hic provident officia veniam ad, expedita error quis quaerat in facilis magni voluptatum?
            Neque earum voluptatibus ab in. Tempora dicta veritatis in distinctio? Corrupti inventore ea eaque earum?
            Earum molestiae quos sapiente quaerat nobis assumenda blanditiis! Incidunt non similique voluptatem nisi
            corporis voluptatum dolorum nulla ipsum eos! Modi, sint! Itaque ducimus sed debitis placeat sint, corporis
            suscipit odio amet, hic tempore atque, ipsa modi cum nam. Culpa nemo laudantium aliquid cum similique beatae
            aliquam quaerat perferendis consequuntur quibusdam reprehenderit eum, suscipit magni impedit consectetur
            assumenda rem! Consectetur error perferendis, sit repellat recusandae deleniti expedita suscipit excepturi
            est natus quaerat ex nostrum saepe alias, quidem veniam beatae tenetur quia cumque ducimus veritatis
            adipisci nesciunt, similique accusantium. Aut libero harum minus officia quisquam repellat voluptatem iste
            aperiam rerum. Dicta voluptatum nostrum alias. Tenetur magnam esse iste sapiente! Facilis nihil ratione
            doloremque rem quae commodi quo voluptatum asperiores nesciunt, id sunt placeat? Nobis illum laudantium rem
            esse distinctio ab voluptate fugiat voluptates doloremque incidunt nam non velit sequi sapiente ducimus
            veritatis voluptas magnam, dolore mollitia deserunt similique perspiciatis odio! Doloremque ad, ea
            distinctio reiciendis quasi dolorum. Eveniet atque minus eligendi. Impedit aliquam repellat culpa delectus
            magni odit non accusantium a harum. Possimus suscipit velit quibusdam repellendus rerum, beatae ex. Vel
            consectetur sed facere nesciunt, laudantium nam nemo natus iure odio suscipit, quo accusamus pariatur sit,
            enim tenetur velit in quis molestiae quasi distinctio amet. Totam, quasi a. Magnam, modi est. Vero atque
            harum corrupti, dolorum explicabo odit sapiente suscipit laboriosam ea expedita hic, unde odio quo error
            consequatur blanditiis perspiciatis pariatur vel fugiat ratione dolor! Iste numquam dicta voluptates?
            Incidunt illo aut nam neque, similique magnam nulla eum autem libero inventore accusantium? Repellat eos
            ducimus asperiores adipisci repellendus, placeat quia accusamus assumenda magni quam ea tenetur porro non
            minus libero sunt. Nisi tenetur asperiores, iste ipsum illum sunt dolore pariatur vitae suscipit, nihil id
            at molestiae, quasi quia. Officiis quasi at corporis quos maxime sapiente ipsa vero nulla incidunt eveniet
            accusantium deleniti, natus repellat exercitationem culpa beatae vitae. Eum, sequi. Natus illo magnam
            quaerat. Velit atque vero qui dolore dolorum asperiores magnam? Natus fugit omnis minus? Veritatis assumenda
            magni unde corrupti provident. Cum perferendis facere labore, doloribus praesentium impedit quae qui ad
            placeat, repellat esse error corrupti itaque mollitia tempora suscipit soluta eligendi omnis nulla expedita
            est neque eos! Voluptatem reiciendis debitis dicta, dolor sed iure? Molestias quos similique assumenda
            incidunt, magni ipsam rerum ab rem eum porro alias unde ipsa ex nulla cumque quis quisquam repudiandae
            nesciunt nostrum sed soluta et! Harum tempora obcaecati aspernatur similique nesciunt pariatur optio quidem
            expedita, in atque quos reiciendis voluptatibus nisi tenetur mollitia dolorem hic corporis suscipit ipsum
            architecto quae dolor autem velit! Fuga saepe eius soluta ea natus quasi delectus ad maiores commodi error
            animi rem nemo, earum enim beatae quod debitis quam laudantium. Doloribus repellat placeat nulla suscipit
            amet vero nesciunt ipsum quibusdam ad quos illo, ullam quia officia optio. Voluptatum et iste eum ad? Cum
            fuga laudantium animi dolorum est, eveniet voluptate corporis ducimus quia obcaecati vitae cupiditate
            possimus laborum odit sunt voluptatibus suscipit. Nostrum, odit fugiat veniam laudantium quos laboriosam
            assumenda velit, sequi tempora pariatur voluptate rem numquam voluptatibus magni quidem at ipsum fugit porro
            quaerat ipsam nihil cupiditate ducimus a. Hic beatae natus, qui doloribus officiis perspiciatis, vero
            accusamus ullam inventore ex molestiae nisi consectetur perferendis eius expedita saepe eum atque sequi
            delectus numquam? Accusantium dolor illo architecto repellat quis! Ratione libero modi ea cumque doloremque
            beatae inventore velit facere? Ab reprehenderit quidem alias quia, ullam doloremque nostrum cumque dolor
            doloribus veniam consequuntur dolorem perspiciatis, magnam beatae? Amet accusamus maxime repellat
            voluptatibus? Rerum laudantium rem eligendi sint accusamus tenetur excepturi modi nesciunt enim animi ipsam
            totam, provident perferendis ea, dolorum commodi tempora quos porro, corporis a doloremque sequi repellat
            placeat! Quisquam officiis vitae quaerat inventore ipsam harum, sapiente hic doloribus, veritatis
            voluptatibus omnis exercitationem culpa voluptatem. Ducimus molestias minus nisi repudiandae sit. Recusandae
            praesentium, nihil tempora adipisci voluptas, illum dignissimos illo velit cumque officiis eius
            necessitatibus asperiores repudiandae ut, optio voluptates delectus eligendi et molestias voluptatum
            consequuntur. Modi quam cumque, aperiam quisquam ipsa cupiditate nostrum facilis omnis a id consequuntur
            quia laudantium incidunt alias voluptates molestias harum ipsum vel veritatis libero saepe! At obcaecati
            placeat beatae quis neque sed eius consequatur ad, nemo facilis omnis aliquam voluptatem nisi maiores quasi
            rerum error. Doloremque repudiandae eveniet dolores cumque error minima laboriosam. Incidunt quae dolores in
            tenetur repellendus. Velit vero aspernatur neque! Eaque commodi ipsa saepe! Repellendus sit architecto
            dolorem commodi perspiciatis delectus voluptates sunt, quaerat nulla deleniti error facere molestiae
            repellat tempora ipsa ab, neque quod nihil modi officia ratione debitis! A adipisci excepturi delectus eaque
            modi? Nostrum vero quia totam neque aliquam qui similique in, atque vitae necessitatibus praesentium ex at,
            maxime reiciendis ad nesciunt unde. Ipsam consequatur nemo et eaque rem iusto quis eveniet accusamus laborum
            maxime voluptatem neque labore, placeat cumque quasi natus doloribus, nobis velit debitis! Sapiente quas
            quisquam, cupiditate fuga quia modi sunt mollitia velit fugit reiciendis iusto minus molestiae, dolorem
            eius! Dolore aut aspernatur doloremque delectus neque, amet consectetur nisi laborum distinctio mollitia
            excepturi odio, voluptate provident nam sunt veniam officia non quaerat, magni ullam. Illo, minus aspernatur
            perferendis veniam autem dicta officiis pariatur quae beatae, quos delectus odit sequi maxime nihil iusto,
            tempore numquam minima veritatis praesentium nulla? Tempora ex aliquid reiciendis labore dolores a, quae
            atque perferendis ad voluptas, sequi, ipsum laboriosam eveniet libero ut eaque! Iste autem dolorum ullam
            laudantium blanditiis perferendis in, magnam officiis nam cumque amet sed! Numquam, amet, dolor nihil facere
            voluptatem alias ad corporis blanditiis dolorum atque aliquam molestiae provident hic ea quam. Officiis
            perferendis vel earum ipsum eos nihil ipsam. Autem magni iste quaerat, praesentium similique omnis molestiae
            quis maiores porro ut. Ullam porro at eum sapiente aspernatur animi veritatis est perspiciatis. Nostrum
            aliquam eligendi commodi laudantium temporibus? Consequatur, velit. Animi quam minus nobis eligendi sed
            nulla. Magnam minus tempora beatae fugiat officia obcaecati id saepe accusantium, quam perspiciatis culpa
            consequatur eveniet corporis sequi! Voluptatibus, eligendi debitis! Et, quam consectetur rem qui aut hic
            tempora quibusdam beatae fugit ullam tenetur at excepturi quisquam ex autem quas ipsum dolorum? Obcaecati
            doloribus vitae nesciunt nemo commodi maxime dolorem aliquid quas corporis minima officia nam odio quisquam,
            nostrum ipsum. Nesciunt unde reiciendis ullam corporis labore a, optio laudantium aliquid necessitatibus
            velit natus rem dolorum officia, iste hic! Consectetur ducimus dicta nostrum, reiciendis culpa recusandae ea
            voluptatem sequi perspiciatis officia harum et laudantium fugit quam corporis quae laboriosam alias pariatur
            debitis dolores quibusdam itaque voluptas. Voluptatem ducimus eveniet culpa possimus velit cumque
            perspiciatis quis, quia cupiditate officia, reprehenderit placeat consequuntur amet enim voluptatum,
            deleniti vero delectus nulla libero corrupti neque! Commodi omnis quidem rem iste dignissimos, quisquam
            cumque aliquid sunt molestiae laborum a. Fuga, similique reiciendis. Quisquam ipsam laudantium vitae
            corporis itaque dignissimos id accusantium doloremque velit consequuntur possimus, placeat reiciendis
            provident nobis libero, maiores molestias sapiente atque facilis odio sint? Eligendi vitae doloremque hic
            sit asperiores? Rerum repellat quaerat amet alias sapiente consectetur velit molestias! Labore fugit saepe
            soluta nobis nesciunt accusantium aliquam mollitia sit asperiores, odio voluptatum sint, illum, eius fugiat
            nam repudiandae laborum. Totam, illum. Velit, temporibus repellendus. Tempora cumque consectetur assumenda
            porro sapiente ducimus quae nostrum, voluptates numquam. Dolorem nulla tempore similique repellendus
            voluptatibus! Ab sunt aspernatur expedita architecto vero esse soluta sapiente corporis odit nulla,
            doloribus perspiciatis consequuntur officiis minus voluptatibus? Dolorum, architecto. Voluptas explicabo
            quia ullam dignissimos laudantium repudiandae esse cupiditate est animi, non voluptatem aliquam sapiente
            blanditiis, eum maxime dicta? Repellat, mollitia nihil doloremque quos culpa tenetur odit beatae laboriosam
            perferendis, consequuntur laudantium doloribus praesentium quaerat magnam facilis delectus, similique velit
            qui excepturi repudiandae magni quisquam? Facilis odit nam, provident officiis deserunt deleniti? Nostrum
            corrupti, reprehenderit quasi dicta magnam quos hic vel corporis quo. Atque voluptatum amet eveniet cum
            sapiente, magnam provident assumenda odio quibusdam, similique minima ut sit? Animi vitae, at dolores
            voluptatem architecto laboriosam eligendi odit ex earum! Sapiente fugit aspernatur odit laboriosam, nostrum
            consequatur eveniet sed unde facere rem repudiandae nobis iusto quo vitae. Consectetur odio, quia iusto
            doloremque atque culpa ex soluta possimus aliquam voluptates iste in totam repudiandae dolorum voluptate
            facilis. Adipisci, et repudiandae. Tempore, ipsum!

        </section>
        <section class="sub-item-body">
            <router-outlet></router-outlet>
        </section>
        <section class="sub-item-right-ads">
            ads
        </section>
    </div>
    <section class="flex-item-footer">
        <app-footer></app-footer>
    </section>
</div>