<div class="flex-container">
    <section class="flex-item-header">
        <app-header></app-header>
    </section>
    <div class="sub-container">
        <section class="sub-item-left-ads">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, deleniti. Repellat reiciendis maxime
            voluptates ipsum voluptatum laborum minima. Magnam reprehenderit, ut voluptatibus perspiciatis cum
            consequuntur sunt. Voluptates consequuntur sunt voluptas facere repellendus quidem mollitia doloribus
            laudantium expedita dolore recusandae, obcaecati molestiae tempore, et illo odit! Maiores odit voluptate hic
            voluptatem, obcaecati ullam voluptates. Temporibus nemo consequatur earum eos totam repudiandae saepe nulla
            in! Exercitationem praesentium delectus ullam excepturi! Aperiam inventore possimus delectus esse officiis
            atque mollitia consequatur similique non, error laborum nobis corporis sunt quas enim asperiores praesentium
            quis nesciunt expedita voluptatibus! Praesentium sapiente fugiat numquam recusandae sunt beatae voluptatem
            repudiandae, cumque quaerat provident laudantium vel quae! Cupiditate sequi blanditiis, suscipit amet, nihil
            vitae eaque illo consequuntur quia officia exercitationem quibusdam quas consectetur saepe earum ratione
            aperiam aliquam quod id iure, repellat reiciendis iusto? Sapiente voluptatibus asperiores, numquam ab
            aspernatur illo ut fugiat explicabo quas ipsam quo aliquid accusamus nam, aperiam architecto eaque doloribus
            exercitationem. Deserunt unde optio accusamus hic vitae aut praesentium cum quas esse illum, doloremque quo
            recusandae quod placeat saepe ut dolore consectetur fugiat tempore magnam dicta. Nihil eos hic aliquid
            praesentium dolores officia atque soluta autem dignissimos quia! Commodi quia sunt nam officiis
            exercitationem tempore modi similique provident ullam aperiam. Ex placeat labore voluptas, hic iusto nostrum
            officia nemo explicabo nesciunt voluptatibus ipsum ratione iure? Laboriosam ut in explicabo iusto?
            Voluptatum soluta, vitae tempora dignissimos aperiam optio velit, reiciendis similique tempore ratione
            dolorum ex quibusdam voluptates consectetur. A dolores assumenda voluptas tempore aperiam. Non et at aperiam
            minus error laudantium ad pariatur explicabo enim asperiores nulla alias soluta corrupti sit praesentium
            rem, voluptas atque accusamus iusto? Molestias asperiores possimus expedita modi incidunt ut deserunt quasi
            doloribus ex labore minima officiis, eligendi sed debitis reiciendis libero numquam consequatur provident
            natus ab velit voluptatum? Tempora animi illum eum. At blanditiis quos, voluptatibus beatae nostrum dolorem?
            Molestias, rem quo sed eos unde repellendus facilis id dolores exercitationem impedit libero quibusdam
            dolorum expedita dolore amet molestiae sit nobis consectetur quae sunt aliquam totam. Dolor suscipit sint
            iusto rem hic deserunt laborum consequuntur, labore dolorum saepe quae! Ab alias officia suscipit nemo illum
            molestias modi laborum, quod nostrum. A maxime doloribus vero quibusdam ducimus, similique dolores tenetur
            deserunt cupiditate, veritatis reiciendis cum quos? Quam, fugit sed! Quam consequuntur eum alias voluptate
            aspernatur reprehenderit, asperiores officiis mollitia esse quisquam eveniet autem labore dolorum
            repellendus minus. Odio non ea at repellat, minima a, voluptate eos tenetur placeat aut sunt aliquam
            eligendi laudantium tempore vero optio mollitia quas delectus nihil dolores sit quidem itaque! Quibusdam
            eius asperiores fuga ullam eligendi exercitationem, placeat ad dolores cum suscipit porro iure maiores
            delectus repudiandae sapiente nulla? Nihil sunt enim qui dignissimos delectus ut amet quibusdam, cum
            provident harum, tenetur, vero aut deserunt debitis unde corporis eius explicabo nam odio nesciunt excepturi
            esse fuga soluta. Cum sunt voluptates expedita nam odit laudantium, voluptate, doloribus aperiam officia
            illum facilis porro repudiandae laboriosam repellendus nihil dolorum exercitationem harum. Odio, eveniet!
            Quia fugiat enim non. Molestiae itaque dignissimos eum dolores facilis unde voluptatem rerum veniam odit
            expedita commodi, tenetur necessitatibus ipsum temporibus, numquam minima accusantium iure aliquam id
            sapiente recusandae aperiam? Voluptatibus, labore pariatur eum aut quidem nostrum nihil. Perspiciatis
            delectus odio, quo modi, temporibus inventore sunt ut qui, asperiores laboriosam est animi cumque
            necessitatibus praesentium esse libero fugit porro labore rerum atque assumenda consequatur ipsa ipsam
            veritatis. Totam aut nostrum nihil iusto repellat dolorum temporibus, tempora unde deleniti voluptatem odit
            assumenda mollitia similique quibusdam cum nemo sint, impedit officiis? Possimus distinctio cupiditate,
            nulla inventore velit natus rerum expedita incidunt numquam facere dolorum ex. At porro, nulla commodi iure,
            cumque sed provident quisquam quidem dolorem in architecto, officia omnis sunt vel totam mollitia. Sequi
            possimus incidunt quo animi velit eveniet, tenetur, minus voluptate nemo provident sunt. Harum quis libero
            deleniti quo facere perspiciatis impedit minima, placeat voluptatem ipsa voluptatum architecto quas mollitia
            doloribus odit, labore illum cupiditate quia nostrum tempore maiores delectus odio explicabo minus. Ea
            dolore inventore impedit similique ut dolor, pariatur at et magnam quisquam iure animi in porro consectetur
            repudiandae facere fuga? Deserunt numquam cumque tempore perferendis eos est sint voluptatibus distinctio
            sed, animi rerum ut! Ipsa eligendi delectus nobis alias ullam nisi quas cum molestiae voluptatum architecto,
            illum excepturi. Illum assumenda nobis eaque iure blanditiis, tenetur veniam officia officiis cupiditate
            molestias pariatur, consequuntur modi dolor aperiam. Suscipit hic atque, autem, quidem aperiam consequuntur
            ipsam nulla vero repellendus esse vitae deserunt ducimus sunt cum sint, fuga possimus in. Ullam ex soluta
            quo! Exercitationem veniam possimus, velit, sint sapiente dolores necessitatibus, nulla nisi dicta aperiam
            recusandae voluptate. Doloremque aperiam fugiat, voluptas sit ad numquam? Magnam assumenda placeat
            praesentium, ab, eligendi non laudantium voluptate expedita, voluptatem accusamus officia sapiente?
            Perferendis rerum amet, veniam earum reiciendis porro? Et quaerat autem beatae obcaecati dicta! Molestiae
            est cupiditate officia assumenda laborum dolores iusto consequatur? Doloribus nesciunt quibusdam quisquam
            eligendi? Temporibus pariatur animi optio accusantium modi earum aperiam neque nulla iure odit dolorum,
            asperiores laudantium. Rem deleniti fuga a sit quibusdam dolor animi eveniet eum amet, accusantium
            dignissimos itaque enim ea eius sequi autem repudiandae impedit. Tempora ea assumenda beatae iure ab
            deserunt eligendi deleniti vel, ut ducimus quibusdam quod est recusandae animi fugiat repellendus officia
            possimus asperiores debitis iste. Facere eaque dolore quidem ullam animi fugiat, sed quod quaerat, magnam
            dignissimos mollitia modi quasi nobis rem corrupti suscipit sint, quia eveniet possimus est? Perspiciatis
            cumque dolores sapiente eaque quibusdam hic vitae tempora error, quisquam ut nihil ipsa, praesentium et
            neque. Consequuntur dolorem, voluptatem ea dolore perferendis nemo sint dolor, doloremque soluta numquam
            molestiae aut dolores ipsa laborum enim architecto dolorum hic quasi rerum est provident facilis. Aperiam,
            praesentium, eveniet laboriosam a, veniam amet officia aliquam deserunt numquam accusamus fuga commodi
            asperiores voluptatum illum consequuntur cupiditate quidem ipsum! Porro sunt tempora quia quaerat, excepturi
            aperiam tempore voluptate quod enim iure libero reiciendis nisi nam nemo suscipit perferendis. Culpa,
            repudiandae? Et ea saepe cupiditate quis, ab maxime asperiores veritatis beatae iure itaque distinctio,
            numquam magni dolorum, odit temporibus repellat doloremque. Odio numquam necessitatibus quos fuga sunt
            earum, qui aperiam praesentium. Natus in tempore, voluptates iste alias laudantium esse nulla? Harum magnam
            nam iusto ducimus temporibus ex, officia vitae, tempora facere molestiae nulla provident quam fugiat
            repellendus in? Rem minus recusandae magnam. In eius aliquid doloremque! Error rerum repudiandae assumenda
            quae, iure eum eaque dignissimos quasi vel distinctio quas ipsum inventore impedit magnam neque dolor
            dolore. Quis delectus eos quam laborum molestias quae eum, repudiandae sequi tempore dolore veniam,
            voluptatum veritatis optio, assumenda ad expedita ducimus! Iste at, asperiores animi itaque a enim eligendi
            exercitationem, odit commodi accusantium natus ea modi nesciunt dicta minus. Doloribus nobis ipsum id
            laborum error non veritatis natus pariatur porro perferendis, sapiente sequi quia delectus, iusto odio
            explicabo, rem voluptas eos suscipit quas. Molestiae consequuntur veritatis similique, reprehenderit cumque
            cupiditate sunt nostrum numquam illum excepturi. Eveniet tempora et illum modi nisi repellat porro.
            Inventore ratione eos esse temporibus, aliquam similique enim! Fuga provident expedita odio sunt quidem
            unde, libero in ipsa distinctio tempore architecto sint commodi eos. Tempora, veritatis enim! Tempore natus
            ducimus sed nesciunt accusantium sapiente itaque dicta, culpa corporis laudantium deserunt rerum neque, odio
            aspernatur iste, sunt vitae deleniti at et nobis. Quisquam, temporibus minima velit ad nostrum vero omnis
            voluptatum assumenda autem aspernatur quam eum debitis inventore labore fugiat iste repudiandae est. Eum
            eligendi vitae odio, nobis, quasi accusamus corrupti aperiam ducimus voluptas sint, minus ex dolor quaerat
            odit! Modi recusandae dolor distinctio, ipsam nostrum doloremque expedita facilis! A odio, amet dolorem
            nulla deserunt aut tempora quibusdam ipsum labore consectetur nobis cumque quae, modi voluptas architecto
            fuga, facere consequatur repellat commodi reiciendis! Voluptatum, sed itaque voluptate vitae labore expedita
            maiores, maxime aspernatur distinctio ducimus quis culpa sit iure rerum dicta cupiditate est necessitatibus.
            Voluptas autem maxime fuga veritatis, suscipit at, eligendi numquam officiis facilis molestiae consequuntur
            ducimus laudantium deserunt quisquam quasi alias mollitia. Dolore dicta repellat hic unde, sint inventore
            dolorum natus omnis cupiditate voluptatem at nesciunt reiciendis laborum nemo illum quos voluptate, tenetur
            libero iusto ipsa expedita excepturi facere alias! Quod fugit nisi sed delectus maiores impedit quis quos
            sapiente esse excepturi, nihil dolor quia ut repellendus, voluptatibus sint assumenda quaerat commodi libero
            ullam aliquam cum et soluta. Dolorum, est nesciunt. Soluta sequi a perspiciatis. Odio at deserunt eaque
            libero molestias illum ut dicta maxime saepe aliquid soluta sequi error qui nemo ullam molestiae aperiam
            alias deleniti sunt, aliquam consequuntur? Alias voluptate nemo dolore ipsam id rem nam enim repellendus.
            Velit nobis nihil rerum expedita! Laboriosam necessitatibus, officia nemo eos maiores cumque laudantium,
            rerum quas magnam illo cum modi ad nam totam hic illum iste inventore repudiandae numquam ex. Quo cum
            corrupti officia impedit nesciunt, repellendus culpa officiis deleniti excepturi animi facere doloribus
            porro nulla, rem necessitatibus hic iste quaerat. Molestias repellendus et non dolore, deleniti veniam nobis
            odit voluptatibus porro fugiat obcaecati assumenda numquam magnam deserunt ducimus minima autem. Amet
            molestias veniam, laudantium nostrum hic voluptate corrupti dolores, expedita unde excepturi facilis ea
            perspiciatis numquam earum consequuntur at! Ea aperiam repellendus neque quas quae corporis incidunt
            veritatis quia deserunt ad eos, labore, totam inventore amet dolorum! Libero hic autem quidem dicta esse
            sapiente, delectus cupiditate iure sint deserunt, saepe voluptatibus tempore unde illum odit pariatur
            ratione quaerat. Deleniti id sed adipisci dicta qui iste consectetur odio praesentium reprehenderit nam quas
            consequatur, quibusdam nemo provident porro? Consectetur, perferendis ratione aliquam sint laboriosam, sit
            nesciunt eveniet, ipsum magni ex vero tenetur provident enim. Deleniti magnam quae nihil delectus nesciunt
            hic aliquam, quos dignissimos illo ex ipsa. Et, harum tenetur fugit maxime placeat atque, fuga quas earum
            similique ut, voluptas unde? Velit dignissimos consequatur iusto necessitatibus quibusdam error deleniti
            dolor id cum debitis deserunt consectetur temporibus sint, voluptates eaque. Libero ab corrupti officiis,
            labore obcaecati quidem quis laudantium facere quae quia autem dignissimos omnis ratione quasi deleniti
            molestiae numquam nostrum, quod magni voluptate! Id temporibus nam, placeat consequuntur consequatur
            laboriosam iure optio voluptate, iste necessitatibus repellat illo sit itaque repellendus delectus facilis
            at vitae a excepturi aut praesentium quos accusantium? Eaque ab necessitatibus cumque impedit voluptatem
            odio, consectetur fugiat architecto ipsam consequatur in? Voluptatibus, maiores consequatur. Molestias ullam
            earum ut. Officiis, ipsam veniam, nulla voluptates repellendus veritatis est consequuntur commodi quos
            laudantium non aperiam dolorem nihil enim vel accusamus eius pariatur obcaecati iste, culpa quasi! Ipsam
            quos omnis labore eaque reprehenderit culpa esse laborum tempore! Ipsa, doloremque ullam? Ad dolorem, magni
            sint aut harum facilis perferendis suscipit ab corporis voluptas accusantium, vitae odit? Sed,
            exercitationem explicabo ullam facilis, voluptate nulla excepturi soluta doloribus eos magni tenetur earum!
            Cupiditate doloribus ducimus ad dolor, laboriosam enim expedita deserunt. Corporis, optio similique nulla
            ullam nihil iusto, temporibus doloribus ab voluptatem rerum quod beatae laboriosam sint, odit facilis!
            Tempore suscipit repellendus provident nobis. Recusandae minima explicabo voluptate rerum quasi ratione eum
            aliquid illo impedit odit aliquam error omnis dolor architecto quis, sunt officiis inventore consequatur
            amet vitae dignissimos! Consequatur, placeat neque. Iusto blanditiis omnis qui dolorem, ad, quos esse
            voluptatibus repellat inventore, dolorum id recusandae. Tenetur expedita laudantium quos, ipsam numquam qui
            aliquid exercitationem iste voluptate quia. Quibusdam animi, tempora quod eaque voluptatibus quisquam beatae
            veritatis mollitia accusantium necessitatibus quo iure voluptatum, fugit qui dolore iste veniam cum
            perspiciatis nemo, nesciunt soluta. Tempora perspiciatis earum maiores inventore magni iusto fugit dolores
            ratione laboriosam amet. Enim culpa eveniet ut incidunt perferendis adipisci consequatur sequi expedita,
            illo quidem molestiae quae dignissimos optio sit eum delectus deserunt nihil! Cum, quod. Quas totam, harum
            aperiam quibusdam placeat tempore ea necessitatibus temporibus nemo perspiciatis? Eligendi voluptate ipsum,
            qui voluptatem iusto enim eveniet suscipit cupiditate, quo assumenda labore aspernatur libero sequi minima
            ab perferendis esse similique eaque nam vero dolor dolores repudiandae omnis! Commodi in, voluptate velit
            quis, quia accusantium veniam cupiditate culpa obcaecati ratione, asperiores quisquam doloribus pariatur.
            Doloribus minus architecto pariatur eveniet, assumenda deleniti quisquam, quos laudantium suscipit qui
            laboriosam laborum rem nulla aperiam. Facere esse tempora libero aperiam aut alias perspiciatis, expedita
            beatae a dignissimos tempore odio nihil magnam dolores, excepturi ipsam. Vitae quibusdam fugit ullam
            laborum, perferendis explicabo quaerat dolore quia, eius natus maxime ad sapiente odit minus est modi
            placeat ipsa fuga nam rerum officiis consequatur cum dolores? Eius repudiandae tempore impedit hic saepe
            similique, incidunt nisi quos illum assumenda quas ipsam dolor quidem explicabo aliquid voluptatem
            perspiciatis amet possimus! Blanditiis delectus quod quae! Assumenda aspernatur tenetur voluptatum natus
            veritatis, aliquam earum labore magnam sequi numquam totam repellendus hic error, harum nulla maxime?
            Assumenda fuga, aut quam placeat sed, totam impedit iure accusantium laudantium a reiciendis, perspiciatis
            porro iste asperiores sint laborum dolore? Praesentium laboriosam sed adipisci fugiat quam, commodi sint
            itaque id vitae qui dignissimos voluptas, iste dolores similique est iure! Accusamus praesentium maxime
            assumenda beatae! Unde ea aut doloremque, assumenda nihil animi, ut omnis incidunt quia voluptas natus,
            exercitationem labore. Eius fuga mollitia adipisci officiis aperiam minus, repellendus nisi! Impedit nemo
            aliquam nisi minus beatae dolore error ab autem. Ab, esse rerum nobis, minima ipsam iure veniam culpa a
            accusamus quasi dolores deleniti, soluta excepturi ipsum debitis impedit cupiditate tenetur earum libero
            distinctio laborum. Libero harum perferendis facilis eum quos magni autem nisi voluptatem sequi tempore
            voluptatibus, sed est veniam iusto neque atque nostrum iste accusantium vel deserunt. Nisi cupiditate ipsum
            molestias voluptatum? Deleniti iusto ad commodi et unde iure ab cumque beatae voluptatibus incidunt optio,
            recusandae esse similique enim sint quisquam quo dolorem tempora. Quae veritatis aliquid ab officiis ut
            cumque. Quisquam cum repellat asperiores deleniti ipsa accusantium repudiandae! Soluta tempora quibusdam sit
            corporis? Debitis repudiandae in nemo magni quam quod, vitae cupiditate veniam, eos cum labore. Provident
            aspernatur nam ullam fuga neque porro commodi, voluptatum tempore iste sapiente. Mollitia id quibusdam
            quisquam placeat ut omnis dolorum nemo molestiae. Autem eaque fugiat totam quo neque qui. Voluptatem et
            esse, eveniet laudantium accusantium perspiciatis libero vel optio laboriosam distinctio culpa natus,
            tempore, ea nemo officia quod. Commodi obcaecati perspiciatis eos ex optio fugit dolore quos sint laboriosam
            fugiat in, placeat suscipit porro sapiente molestias quia corrupti quam, temporibus ratione alias dicta,
            quasi voluptatum totam! Consequuntur pariatur, aspernatur quae illum nemo inventore eaque. Earum fugiat,
            iure adipisci ex rerum nulla quis fuga sit atque. Nulla, sint ea laboriosam a animi cum illo nisi
            necessitatibus ullam amet. Cum totam cumque sit provident adipisci tenetur iure suscipit excepturi eos ullam
            ducimus, molestiae qui tempore expedita fuga architecto illo ratione exercitationem amet esse in placeat,
            accusamus magnam unde. Qui laudantium expedita voluptatibus accusantium rerum officiis nulla quam a ea
            dignissimos pariatur similique, molestiae minima, nobis necessitatibus, amet architecto facilis obcaecati
            odit. Ipsam ducimus nihil vero ut repudiandae, voluptatum non saepe porro? Vel debitis beatae mollitia. Quia
            laudantium nobis quibusdam alias assumenda exercitationem impedit, perferendis sequi molestias eveniet
            voluptate iure nihil cum itaque reiciendis, neque aut accusantium dicta, recusandae maiores modi? Laborum
            corrupti necessitatibus officia aut debitis impedit ducimus quae quisquam in eaque nam beatae saepe fugiat
            cumque tempore praesentium, sapiente recusandae voluptates porro possimus et. Accusantium ullam, at,
            explicabo, porro minus dolor similique ut dicta impedit ratione perspiciatis voluptate consectetur
            aspernatur voluptatum adipisci nobis suscipit iure? Dolore quo eum optio fugiat? Nostrum beatae, officiis
            optio impedit fuga obcaecati consequuntur alias reiciendis quod repudiandae ad voluptates nulla aliquid nam
            rerum veritatis esse temporibus fugiat praesentium quam odit vero iure? Placeat perferendis harum commodi
            velit non rerum sed laborum. Aperiam repudiandae odio aliquid! Exercitationem ea ut repudiandae quae! Dicta
            veritatis quis aspernatur vitae quae sunt iusto sapiente explicabo velit impedit placeat accusamus mollitia
            neque doloribus earum ipsam numquam eius, ab nesciunt sit officiis! Aliquid voluptatibus reiciendis, quos
            esse magnam voluptas repellendus, placeat porro deserunt eius, rerum saepe optio eos. Fugit ipsam commodi
            velit! Facilis amet atque eveniet perspiciatis debitis accusantium, quam ipsam ab sequi odio ducimus eaque
            consequatur culpa asperiores officiis corporis deserunt assumenda obcaecati cupiditate aut nobis. Assumenda
            dicta minima, sit corporis molestiae quaerat voluptate neque error? Consectetur maiores facilis deserunt
            laborum odio amet quae veritatis dolorum saepe reiciendis consequatur quam laboriosam dolore, consequuntur
            perferendis omnis, sapiente vel ipsam veniam totam iusto? Deserunt explicabo iste ullam quas rerum quod
            esse, at aliquid sunt illo iusto laudantium commodi ex voluptates ratione sit magnam labore asperiores
            praesentium minima alias dolores assumenda itaque earum. Voluptatibus exercitationem, nemo quia vitae ex,
            tempora consequatur eligendi perferendis dolorem facere mollitia inventore corporis debitis ea delectus sit
            officiis fugit vel laudantium dolore magni quas similique amet. Quisquam maiores ad, autem beatae
            repudiandae, culpa sit corporis error iusto quae fuga quaerat delectus possimus provident, obcaecati
            corrupti vel! Inventore, excepturi impedit quidem dolorum neque eius autem asperiores cumque labore ipsam,
            doloremque vero officiis quas qui! Esse nihil dolor totam exercitationem sint aperiam sit reiciendis,
            consequatur provident aliquam beatae fuga vitae explicabo enim. Accusamus, ratione assumenda nostrum
            recusandae commodi ad, id exercitationem totam voluptatem esse, tenetur dignissimos animi rerum
            necessitatibus asperiores neque qui. Distinctio impedit animi dolorem, veritatis nulla optio fuga officiis
            aliquam est odio enim sed molestias eveniet tenetur voluptates facere? Architecto tempore dolorum molestias?
            Quo facilis tempore sapiente quidem quaerat laudantium atque cumque sit illo, voluptatum iure architecto
            sunt neque in ipsum ex repudiandae asperiores veritatis. Quos quis inventore illum consequatur quae
            similique id architecto modi delectus ipsam esse enim amet commodi nostrum magnam, est voluptate deleniti
            quibusdam. Ea minima ipsum inventore a optio, voluptas doloremque perspiciatis ipsam aliquid amet quas iusto
            animi dicta! Maxime aliquam hic corporis vel. Fugiat iure possimus maxime quam. Animi, cum ut veniam
            blanditiis enim et quo placeat facere maiores cumque officiis illo inventore dolore. Eos, rerum porro minus,
            suscipit officiis a distinctio ullam aliquam cumque est fuga quidem ratione blanditiis saepe dolorem,
            assumenda mollitia. Facilis voluptatum mollitia sapiente officia, in excepturi repudiandae tempora vitae
            nesciunt cupiditate veniam sunt similique, eaque nostrum debitis odio, voluptas vel temporibus. Dolorem,
            sequi. Labore quam dolorem ad unde, porro veniam consequatur harum molestias autem, minus facilis?
            Laudantium at labore ab quam, ullam accusamus molestiae consequatur consequuntur impedit dignissimos
            reprehenderit, libero quo unde eos nihil nostrum exercitationem! Expedita nam libero nobis mollitia
            laudantium incidunt eligendi repellendus magnam error ducimus explicabo itaque, harum, ipsam voluptates
            aliquam alias nesciunt rerum quia tempora ea assumenda! Natus molestiae ducimus tempora aperiam suscipit
            architecto perferendis. Amet perferendis dolores hic tenetur.
        </section>
        <section class="sub-item-body">
            <router-outlet></router-outlet>
        </section>
        <section class="sub-item-right-ads">
            ads
        </section>
    </div>
    <section class="flex-item-footer">
        <app-footer></app-footer>
    </section>
</div>