:root {
    //Media-queries-widths for all devices !Reminder all rem translated as 1rem=16px
    --mobile: 30rem;
    --tablet: 64rem;
    --sm-screen: 82rem;
    --m-screen: 120rem;
    --l-screen: 140rem;
    --xl-screen: 160rem;
}
