@use "/src/app/shared/styles/sass-utils/mixins";
.test {
    margin-top: 300px;
    @include mixins.devices(sm-screen) {
        border: 30px solid black;
    }
    @include mixins.devices(tablet) {
        border: 30px solid blue;
    }
    color: red;
    @include mixins.devices(mobile) {
        border: 30px solid purple;
    }
}
