.flex-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .sub-container {
        display: grid;
        grid-template-columns: minmax(min-content, 300px) 1fr minmax(min-content, 300px);
        grid-template-areas: "left-ads body right-ads";

        .sub-item-left-ads {
            grid-area: left-ads;
            margin-inline: auto;
            border: 2px solid pink;
        }
        .sub-item-body {
            grid-area: body;
        }
        .sub-item-right-ads {
            grid-area: right-ads;
            margin-inline: auto;
            border: 2px solid purple;
        }
    }
    .flex-item-header {
        border: 2px solid blue;
    }

    .flex-item-footer {
        margin-top: auto;
        border: 2px solid green;
    }
}
