//Breakpoints for all devices
$breakpoints: (
    mobile: var(--mobile),
    tablet: var(--tablet),
    sm-screen: var(--sm-screen),
    m-screen: var(--m-screen),
    l-screen: var(--l-screen),
    xl-screen: var(--xl-screen),
);
