:root {
    //Main-colors of application, we have to choosen between them in whole project
    --black: #1c1c1c;
    --white: #f1f1f1;
    --gray: #808080;
    --ligt-blue: #82b7dc;
    --blue: #3466aa;
    --dark-blue: #114084;
}
